.navbar { 
    background-color: rgb(214, 211, 211);

} 

body {
    background-image: url("background mountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "Poppins";
}

.center {
    margin: auto;
    width: 60%;
    padding-top: 200px;
    text-align: center;

}

img {
    border-radius: 8%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  } 
